<%- include('header.ejs') %>
<div class="responsive-container-block bigContainer">
  <div class="responsive-container-block Container">
    <img class="mainImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/eaboutus1.svg">
    <div class="allText aboveText">
      <p class="text-blk headingText">
        <%= heroBanneraboutus.h1 %>
      </p>
      <p class="text-blk subHeadingText">
        <%=  %>
      </p>
      <p class="text-blk description">
        <%= heroBanneraboutus.p %>
      </p>
      <button class="explore">
        Explore
      </button>
    </div>
  </div>
</div>

<%- include('footer.ejs') %>