<%- include('header.ejs'); %>
<%- include('heroBanner.ejs'); %>


<!-- CONSOLE POSTS FROM APPJS -->
<% console.log(posts.length) %>
<!-- <% for( var i = 0; i < posts.length; i++){ %>
<% console.log(posts[i].title); %>
<%  } %> -->

<% posts.forEach(function(post){ %>

<div class="blog-container">
  
  <div class="blog-header">
    <div class="blog-author--no-cover">
        <h3>Russ Beye</h3>
    </div>
  </div>
  
  <div class="blog-body">
    <div class="blog-title">
      <h1><a href="#"><%= post.title %></a></h1>
    </div>
    <div class="blog-summary">
      <p><%= post.desc %></p>
    </div>
    <div class="blog-tags">
      <ul>
        <li><a href="#">design</a></li>
        <li><a href="#">web dev</a></li>
        <li><a href="#">css</a></li>
      </ul>
    </div>
  </div>
  
  <div class="blog-footer">
    <ul>
      <li class="published-date">12 days ago</li>
      <li class="comments"><a href="#"><svg class="icon-bubble"><use xlink:href="#icon-bubble"></use></svg><span class="numero">8</span></a></li>
      <li class="shares"><a href="#"><svg class="icon-star"><use xlink:href="#icon-star"></use></svg><span class="numero">3</span></a></li>
    </ul>
  </div>

</div>
<% console.log(post.title);console.log(post.desce); %>
<% }) %>
<%- include('footer.ejs') %>